.container {
  height: 70px;
  background-color: #ce0033;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

a {
  font-size: 16px;
  font-style: normal;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 80px;
  margin-top: 20px;
}
.container a.tirage:not(.active) {
    font-weight: 400;
  }

.absent.active {
    font-weight: 700; 
}
  .static  {
    font-weight: 700; 
  }
  
  
